@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fcf9f2;
  font-family: 'Geist', sans-serif;
  color: #1c1c18;
  scroll-behavior: smooth;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  vertical-align: middle;
}

.glass-panel {
  background: rgba(252, 249, 242, 0.85);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #e5e2db;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #717970;
}
